APP_NAME=Laravel
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://laravel-backend-zyy3.onrender.com

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

CACHE_STORE=database
QUEUE_CONNECTION=database
SESSION_DRIVER=database

LOG_CHANNEL=single
